section {
	position: relative;
}
a {
	color: grey;
	font-weight: lighter;
	font-family: 'Gruppo', cursive;
}
a.active {
	color: black;
	font-weight: 600;
	text-decoration: underline;
}

h1 {
	font-family: 'Gruppo', cursive;
	font-weight: 700;
}

.navbar-toggler {
	position: absolute;
	right: 0;
	margin-top: 17px;
}


@media (min-width: 481px) and (max-width: 767px) {
	.navbar-brand {
		margin-left: 1%;
	}
}
@media (min-width: 320px) and (max-width: 480px) {
  
 .navbar-brand {
		margin-left: 1%;
	}

  
}