<section>
<div class="container">
	<div class="row">
	<div class="col ">
		<h3>Portfolio - 1. version </h3>
		<p>My first adventure with HTML5 and CSS.<br>
			I had very limited knowledge about programming when I started out. 
		</p>
		<a href="https://stinnia.com/1.version/" target="_blank"><img src="assets/img/portfolio_1_version.png" alt="stinnia"></a>
		</div>
		<div class="col">
		<h3>Portfolio - 2. version </h3>
			<p>In this version I had to make an updated version of my first portfolio for the semester exam.</p>
		<a href="https://stinnia.com/2.version/" target="_blank"><img src="assets/img/portfolio_2_version.png" alt="stinnia"></a>
			
		</div>
		<div class="col">
		<h3>Portfolio - Latest version </h3>
			<p>Lately I've been learning about AngularJS. I have taken the opportunity to update my online portfolio using Angular.</p>
		<a href="https://stinnia.com" target="_blank"><img src="assets/img/portfolio_3_version.png" alt="stinnia"></a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col">
		<h3>Homehacks - Semester exam </h3>
			<p>As a group, we created a website showing a few DIY hacks. We made videos using Premiere Pro, banners using Animate CC, and basic programming.</p>
		<a href="https://stinnia.com/homehacks" target="_blank"><img src="assets/img/portfolio_5_version.png" alt="stinnia"></a>
		</div>
		<div class="col">
		<h3>Post-it board - PHP / mySQL </h3>
			<p>Using PHP and mySQL it was possible to make a website connected to a database. In this website you can create a user and post whatever you want.</p>
		<a href="https://stinnia.com/postit" target="_blank"><img src="assets/img/portfolio_6_version.png" alt="stinnia"></a>
		</div>
		<div class="col">
		<h3>Wordpress - Woocoommerce</h3>
			<p>I created this webwite to test woocommerce. It is not possible to buy anything on this website.<br><br><br></p>
		<a href="https://stinnia.com/wordpress" target="_blank"><img src="assets/img/portfolio_7_version.png" alt="stinnia"></a>
		</div>
	</div>
	</div>
</section>