<section>
<div class="container">
  <div class="row"> 
	  
	  <div class="col-md-7 col-centered">
		 
<img src="assets/img/stinnia_photo.png" alt="stinnia" class="rounded-circle float-left mr-md-4">  
	  	<div class="h3 ml-md-5">Who am i?</div>
		  
		  <p>I am a future Multimedia designer. My name is Stinnia.<br>
			  I am from Greenland, the biggest island in the world. Not very green in the winter.<br>
			  I love programming, and I am currently learning, and becoming an expert in it.<br>
			  Or at least the technology changes again, with all the updates.<br>
			  Then I will start over, and learn even more.
		  </p>
		  <hr>
		  <div class="h3 text-center">What can I do for you?</div>
		  <p class="text-center">I know a bit of a lot af stuff.</p>
	  </div>
	  </div>
		  <div class="row">
			  <div class="col-4 offset-3">
			  
		  
		  <p>
			  I can navigate around web design...
			  </p>
		  <ul>
			  <li>HTML5</li>
			  <li>CSS / Sass</li>
			  <li>Javascript</li>
			  <li>jQuery</li>
			  <li>Bootstrap</li>
			  <li>AngularJS</li>
			  <li>PHP / SQL</li>
		  </ul>
		 
			  </div>
			  <div class="col-4">
				  <p>I can also make designs using Adobe Programs</p>
				  <ul>
				  <li>Experience Design</li>
				  <li>Illustrator</li>
				  <li>Photoshop</li>
				  <li>Dreamweaver</li>
				  <li>Premiere Pro</li>
				  <li>Animate CC</li>
				  </ul>
			  </div>
			  </div>
		  <hr>
		 
	  <div class="col-md-4 col-centered">
	  <h2 class="text-center h3">{{title}}</h2>
		 <p class="text-center">You can find my JSON Resume here:
		  </p>
		  <a href="https://registry.jsonresume.org/stinnia" class="btn btn-primary" target="_blank" rel="noopener">CV</a>
  
		  </div>
	

</div>


</section>
