@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Gruppo');


body {
	background-image: url(assets/img/background.png);
	background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom right; 	
}
